---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import PostPreview from "../../components/PostPreview.astro";
import BackLink from "../../components/BackLink.astro";
import { sortByDatePosts as sortByDate } from "../../utils.ts";

const posts = await getCollection("blog");
---

<Base>
  <main class="flex flex-col gap-4">
    <BackLink url={"/"} />
    <h1 class="text-2xl mb-0">Blog</h1>

    {sortByDate(posts).map((post) => <PostPreview {post} />)}
  </main>
</Base>
