---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="grid grid-rows-2 grid-flow-col gap-4">
      <div class="rounded-md p-4 border-primary">About</div>
      <div class="rounded-md p-4 border-primary">Projects</div>

      <div class="row-span-2 rounded-md p-4 border-primary">Blog</div>
    </div>
  </main>
</Layout>
