---
import Base from "../layouts/Base.astro";
import projects from "../assets/projects.json";
import ProjectCard from "../components/ProjectCard.astro";
import BackLink from "../components/BackLink.astro";
---

<Base title="bipo <> projects" description="My github projects">
  <main class="flex flex-col gap-4">
    <BackLink url="/" />
    <h1 class="text-2xl mb-0">Projects</h1>

    <div class="flex gap-4 flex-wrap md:flex-nowrap">
      {projects.slice(0, 4).map((project) => <ProjectCard {project} />)}
    </div>
  </main>
</Base>
