---
import { Image } from "astro:assets";
import Icon from "../components/Icon.astro";
---

<footer
  class="border-t-2 border-solid border-gray p-3 pt-0 flex justify-between items-center"
>
  <div>
    <Icon icon="signature" alt="Signature" />
  </div>
  <div class="flex gap-2 items-center">
    <a href="https://twitter.com/bipo38" title="Twitter" target="_blank">
      <Icon icon="twitter" />
    </a>
    <a href="https://github.com/bipo38" title="Github" target="_blank">
      <Icon icon="github" />
    </a>

    <a href="mailto:asiergg60@gmail.com" title="Mail" target="_blank">
      <Icon icon="mail" /></a
    >
  </div>
</footer>
