---
import { Image } from "astro:assets";
import Logo from "../assets/svg/logo.svg";
---

<header class="flex justify-between py-6">
  <a href="/" class="flex items-center gap-4">
    <Image src={Logo} alt="Logo" class="w-8 h-8" />
    <h1 class="lk-base text-lg m-0">Bipo</h1>
  </a>

  <nav>
    <ul class="flex gap-4">
      <li><a class="text-lg p-1 rounded-lg lk-base" href="/">Home</a></li>
      <li>
        <a class="text-lg p-1 rounded-lg lk-base" href="/blog">Blog</a>
      </li>
      <li>
        <a class="text-lg p-1 rounded-lg lk-base" href="/stuff">Stuff</a>
      </li>
    </ul>
  </nav>
</header>
